/** 
 * Variables
 */

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

// Colors
$color-base: #333333;
$color-primary: #111111;
$color-secondary: #b2b2b2;

$color-link-p: $color-primary;
$color-link-s: $color-primary;

$color-white: #fff;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Typographic
$typographic-google-fonts-text-font-family: "DM Sans", sans-serif;
$typographic-google-fonts-title-font-family: "DM Sans", sans-serif;
$typographic-font-family: $typographic-google-fonts-text-font-family,
	-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
	Cantarell, "Helvetica Neue", sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 20px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.5;

$typographic-base-font-color: $color-base;
$typographic-link-p-font-color: $color-link-p;
$typographic-link-s-font-color: $color-link-s;

$typographic-leading: round(
	18 * ($typographic-root-font-size / 100) * $typographic-base-line-height
);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
