@import '../../../scss/mixins';
@import '../../../scss/variables';

.Intro {
	padding-top: 90px;
	height: calc(100vh - 110px);
	min-height: 500px;
	@include container(false);

	h3 {
		color: $color-lightgray;
		font-size: 18px;
		margin: 0;
	}
	h1 {
		margin: 10px 0;
		font-weight: 500;
		font-size: 42px;
		line-height: 1;
	}
	h4 {
		margin: 0;
		font-size: 18px;
		color: #212121;
	}
	&__mail {
		margin-top: 80px;
		p {
			margin: 0;
			font-size: 18px;
			display: inline;
			border-bottom: 2px solid #000000;
			padding-bottom: 2px;
			a {
				text-decoration: none;
			}
		}
	}
}
