@import '../../../scss/mixins';
@import '../../../scss/variables';

.Intro {
	padding-top: 90px;
	width: calc(100vw - 40px);
	max-width: 1200px;
	height: calc(100vh - 110px);
	min-height: 500px;
	max-height: 800px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	@include media(tablet) {
		height: calc(100vh - 145px);
		padding-top: 150px;
		padding-left: 40px;
		padding-right: 40px;
	}
	@include media(desktop-s) {
		padding-top: 100px;
		padding-left: 0;
		padding-right: 0;
	}

	h3 {
		color: $color-lightgray;
		font-size: 18px;
		margin: 0;
		@include media(tablet) {
			font-size: 24px;
		}
	}
	h1 {
		margin: 10px 0;
		font-weight: 500;
		font-size: 42px;
		line-height: 1;
		@include media(tablet) {
			font-size: 48px;
			margin-bottom: 20px;
		}
		@include media(desktop-s) {
			font-size: 60px;
			margin-top: 0;
		}
	}
	h4 {
		margin: 0;
		font-size: 18px;
		color: #212121;
		@include media(tablet) {
			font-size: 24px;
		}
	}
	&__mail {
		margin-top: 80px;
		p {
			margin: 0;
			font-size: 18px;
			display: inline;
			border-bottom: 2px solid #000000;
			padding-bottom: 2px;
			a {
				text-decoration: none;
			}
		}
	}
}
