@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import '../mixins';

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;

	@include media(desktop-s) {
		font-size: 24px;
	}
}

h1 {
	font-size: 36px;
	font-weight: 500;
	@include media(desktop-s) {
		font-size: 48px;
	}
}

h2 {
	font-size: 28px;
	font-weight: 500;
	@include media(desktop-s) {
		font-size: 40px;
	}
}

h3 {
	font-size: 24px;
	font-weight: 500;
	@include media(desktop-s) {
		font-size: 32px;
	}
}

h4 {
	font-size: 18px;
	font-weight: 700;
	@include media(desktop-s) {
		font-size: 24px;
	}
}

p,
li {
	line-height: 2;
}

a {
	color: inherit;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
	@include media(tablet) {
		padding-top: 80px;
		padding-top: 80px;
	}
}

.section > h1 {
	text-align: center;
	margin-bottom: 30px;
}

.section > p {
	margin-bottom: 20px;
}

.grid {
	gap: 20px;
	@include display-grid;
}

.grid.column-2 {
	@include grid-template-columns(1fr);
	@include media(tablet) {
		@include grid-template-columns(1fr 1fr);
	}
}

.skill-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skill-card .icon {
	font-size: 40px;
	margin-bottom: 12px;
}

.skill-card h3 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 12px;
}

.skill-card .border {
	width: 60px;
	display: block;
	border-bottom: 2px solid #000000;
	margin-bottom: 30px;
}

.skill-card p {
	text-align: center;
	margin-bottom: 20px;
}
