@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import '../mixins/breakpoints';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'DM Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;

	@include media(desktop-s) {
		font-size: 24px;
	}
}