@import '../../../scss/mixins';
@import '../../../scss/variables';

.Footer {
	padding-top: 30px;
	padding-bottom: 30px;
	@include container(false);
	@include media(tablet) {
		align-items: center;
		@include display-grid;
		@include grid-template-columns(150px 1fr 150px);
	}

	&__logo {
		display: none;
		@include media(tablet) {
			display: block;
			width: 70px;
			margin: 0;
		}
	}

	&__socialMediaLinks {
		margin: 0 auto;
		padding: 0;
		margin-bottom: 40px;
		margin-left: auto;
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 170px;
		list-style: none;
		@include media(tablet) {
			grid-column: 3 / 4;
			margin-bottom: 0;
		}

		li {
			font-size: 30px;
		}
	}

	&__copyright {
		text-align: center;
		color: $color-lightgray;
		@include media(tablet) {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			margin-bottom: 0;
		}
		@include media(desktop-s) {
			font-size: 18px;
		}
	}
}
