@import '../../scss/variables';
@import '../../scss/mixins';

.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include heroContainer();

	&__logo {
		height: 65px;
		margin: 0;
		img {
			width: 100%;
			height: auto;
		}
	}

	&__icon {
		width: 32px;
		height: 32px;
		position: relative;
		cursor: pointer;
		z-index: 5;
		
		i {
			position: absolute;
			height: 1px;
			background-color: $color-black;
			width: 32px;
			
			&:nth-of-type(2) {
				top: 9px;
				right: 0;
				width: 24px;
			}

			&:nth-of-type(3) {
				top: 18px;
				right: 0;
				width: 16px;
			}
		}
	}

	&__nav ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 0px;
		bottom: 0;
		padding: 0;
		margin: 0;
		list-style: none;
		transition: all .3s ease-in-out;
		
		li {
			width: 100%;
			padding: 30px 15px;
			text-align: center;
			opacity: 0;
			visibility: hidden;
			z-index: 5;
			color: $color-white;
			transition: all .3s ease-in-out;

			a {
				text-decoration: none;
			}
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			height: 100%;
			width: 0;
			left: 0;
			top: 0;
			right: auto;
			background: rgba($color-black, .9);
			opacity: 0;
			visibility: hidden;
			transition: all .2s ease-in-out;
		}

		&:after{
			right: 0;
			left: auto;
		}
	}

	&[data-state='true'] {
		.Header__icon i {
			background-color: $color-white;
		}
		.Header__nav ul {
			opacity: 1;
			visibility: visible;

			&:before,
			&:after {
				width: 50%;
				opacity: 1;
				visibility: visible;
			}

			li {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}