@charset "UTF-8";

@import './mixins/grids';
@import './mixins/breakpoints';

@mixin container($article) {
	width: calc(100vw - 40px);
	@if $article == true {
		max-width: 840px;
	} @else {
		max-width: 960px;
	}
	margin-left: auto;
	margin-right: auto;
}

@mixin heroContainer {
	@include container(false);
	max-width: 1200px;
}
